<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/layoutstyle.css">
</head>
<body>
    <header class="header">
        <h1>MALOG</h1>
    </header> 
    <nav class="nav">
        <a href="#">HOME</a>
        <a href="#">CATEGORY</a>
        <a href="#">?</a>
        <a href="#">?</a>
    </nav>
    <%- body -%>
</body>
</html>
